In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import minmax_scale,LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv("veri_setleri/kalp_rahatsizligi.csv",sep=",")
df.head(3)

,yas,cinsiyet,gogus_agrisi_tipi,hareketsiz_kan_basinci,serum_kolestrol,aclik_kan_sekeri,elektrokardiyografi,en_yuksek_kalp_hizi,anjin_bagli_egsersiz,st_depresyonu,st_egimi,buyuk_damarlar,talasemi,kalp_rahatsizligi
0,63.0,erkek,tipik anjinal,145.0,233.0,1,sol ventikuler hipertrofi,150.0,0,2.3,asagi egimli,0.0,sabit defekt,0
1,67.0,erkek,asemptomatik,160.0,286.0,0,sol ventikuler hipertrofi,108.0,1,1.5,duz,3.0,normal,1
2,67.0,erkek,asemptomatik,120.0,229.0,0,sol ventikuler hipertrofi,129.0,1,2.6,duz,2.0,tersinir defekt,1

In [3]:

df.rename(columns={"gogus_agrisi_tipi":"gat",
"hareketsiz_kan_basinci":"hkb",
"serum_kolestrol":"sk",
"aclik_kan_sekeri":"aks",
"elektrokardiyografi":"ekg",
"en_yuksek_kalp_hizi":"eykh",
"anjin_bagli_egsersiz":"abe",
"st_depresyonu":"std",
"st_egimi":"ste",
"buyuk_damarlar":"bds"
},inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   std                303 non-null    float64
 10  ste                303 non-null    object
 11  bds                299 non-null    float64
 12  talasemi           301 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [6]:
imp = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
bds=df.iloc[:,[11]].values
tal=df.iloc[:,[12]].values
df["bds"]=imp.fit_transform(bds)
df["talasemi"]=imp.fit_transform(tal)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    object
 2   gat                303 non-null    object
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    object
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   std                303 non-null    float64
 10  ste                303 non-null    object
 11  bds                303 non-null    float64
 12  talasemi           303 non-null    object
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [7]:
le=LabelEncoder()
df["cinsiyet"]=le.fit_transform(df["cinsiyet"])
df["gat"]=le.fit_transform(df["gat"])
df["ekg"]=le.fit_transform(df["ekg"])
df["ste"]=le.fit_transform(df["ste"])
df["talasemi"]=le.fit_transform(df["talasemi"])
df.head(5)

,yas,cinsiyet,gat,hkb,sk,aks,ekg,eykh,abe,std,ste,bds,talasemi,kalp_rahatsizligi
0,63.0,0,3,145.0,233.0,1,2,150.0,0,2.3,0,0.0,1,0
1,67.0,0,1,160.0,286.0,0,2,108.0,1,1.5,1,3.0,0,1
2,67.0,0,1,120.0,229.0,0,2,129.0,1,2.6,1,2.0,2,1
3,37.0,0,0,130.0,250.0,0,1,187.0,0,3.5,0,0.0,0,0
4,41.0,1,2,130.0,204.0,0,2,172.0,0,1.4,2,0.0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yas                303 non-null    float64
 1   cinsiyet           303 non-null    int64
 2   gat                303 non-null    int64
 3   hkb                303 non-null    float64
 4   sk                 303 non-null    float64
 5   aks                303 non-null    int64
 6   ekg                303 non-null    int64
 7   eykh               303 non-null    float64
 8   abe                303 non-null    int64
 9   std                303 non-null    float64
 10  ste                303 non-null    int64
 11  bds                303 non-null    float64
 12  talasemi           303 non-null    int64
 13  kalp_rahatsizligi  303 non-null    int64
dtypes: float64(6), int64(8)
memory usage: 33.3 KB

In [11]:
X = df.iloc[:,0:13].values
y = df.iloc[:,[13]]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)